*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: Work Sans, "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 60px;
}

.title {
  font-weight: 800;
  font-size: 100px;
  line-height: 80px;
  margin: 0 0 40px 0;
}

.btn {
  border: none;
  background: none;
  padding: 24px;
  font-size: 18px;
  font-family: Work Sans, "Helvetica Neue", sans-serif;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
